.post {
    max-width: 349px;
    &-title{
        margin-top: 22px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #2d2d2d;
        line-height: 22px;
    }
    &-description{
        margin-top: 16px;
        color: #2d2d2d;
        line-height: 22px;
    }
    &-category{
        border: none;
        background: none;
        margin-top: 16px;
        color: cadetblue;
        cursor: pointer;
    } 
}