.post {
    max-width: 349px;
    &-center{
        margin: 0 auto;
    }
    &-title{
        margin-top: 22px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #2d2d2d;
        line-height: 22px;
    }
    &-description{
        margin-top: 16px;
        color: #2d2d2d;
        line-height: 22px;
    }
    &-category{
        border: none;
        background: none;
        margin-top: 16px;
        color: cadetblue;
        cursor: pointer;
    }
    &-comment{
        border: 1px solid lightblue;
        padding: 15px;
        &-text{
            font-size: 16px;
            text-align: left;
        }
        &-author{
            margin-top: 20px;
            font-size: 14px;
            font-style: italic;
        }

    }  
}