.header {
  &-social {
    display: flex;
    justify-content:space-around;
    padding: 20px;
    background-color: #4c4c4c;
  }
  &-logo {
    img {
      height: 42px;
    }
    margin-right: 60px;
  }
  &-bar {
    padding: 2px;
  }
  &-social-media {
    display: flex;
    align-items: center;
  }
  &-social-item {
    padding: 2px;
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: inherit;
    margin-right: 4px;
  }
  &-social-date {
    width: 240px;
    padding: 9px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
  }
  &-social-search {
    width: 252px;
    background-color: #8d8d8d;
    border: 1px solid #8d8d8d;
    border-radius: 4px;
    padding: 2px;
    input[type="text"] {
      background-color: inherit;
      width: 80%;
      height: 100%;
      border: none;
      outline: none;
      padding-left: 4px;
      color: #fff;
      &::placeholder {
        padding-left: 4px;
        text-transform: uppercase;
        color: #fff;
      }
    }
    input[type="submit"] {
      width: 30px;
      background: url("./search.svg") no-repeat center;
      border: none;
      margin-top: 6px;
    }
  }
}
