.footer {
  margin-top: 0;
  color: #fff;
  &-info{
    background-color: #1c1c1c;
    padding-bottom: 20px;
  }
  &-bar{
    
    &-creators{
      color: #e4e3e3;
      font-size: 13px;
      margin-right: 100px;
      span{
        font-weight: 700;
      }
    }
  }
  .title {
    margin-top: 42px;
    margin-bottom: 34px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  &-comments-item {
    margin-bottom: 24px;
  }
  .btn {
    color: #fff;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    &-links {
      font-weight: 300;
      font-style: normal;
      padding: 0;
      padding-bottom: 7px;
      text-align: left;
      justify-content: flex-start;
    }
  }

  &-links {
    &-list {
      list-style-type: none;
      li {
        margin-bottom: 0;
      }
    }
  }
  &-popular {
    &-item {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 11px;
    }
    .item-about {
      margin-left: 15px;
      &-title{
        margin-top: 4px;
      }
      &-date {
        margin-top: 6px;
        font-size: 12px;
        font-style: italic;
      }
    }
  }
  &-newsletters{

    input[type="email"]{
      width: 250px;
      padding: 12px;
      background-color: #8e8e8e;
      border: 1px solid #8e8e8e;
      border-radius: 4px;
      color: #fff;
      &::placeholder{
        color: #fff;
      }
      &:focus{
        outline: none;
      }
    }
    input[type="submit"]{
      margin-top: 22px;
      width: 250px;
      padding: 12px;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
